Repository airbytehq/airbyte-platform, pull requests merged in 2023-02, with the labels that each got.

#11 Remove AirbyteGitHubStore in favor of the remote oss catalog
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/DestinationDefinitionsHandler.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/SourceDefinitionsHandler.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/WebBackendCheckUpdatesHandler.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/services/AirbyteGithubStore.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/services/AirbyteRemoteOssCatalog.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/SourceDefinitionsHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/WebBackendCheckUpdatesHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/services/AirbyteGithubStoreTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/services/AirbyteRemoteOssCatalogTest.java
  airbyte-commons-server/src/test/resources/json/remote_oss_catalog.json
  airbyte-config/init/src/main/java/io/airbyte/config/init/RemoteDefinitionsProvider.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/config/ApplicationBeanFactory.java
Labels: area/platform, area/server

#30 🪟 🔧 Adjust doc middleware for new repo structure
  airbyte-webapp/packages/vite-plugins/doc-middleware.ts
Labels: area/frontend, ready-to-ship

#25 Include correct variable in log message
  airbyte-db/db-lib/src/main/java/io/airbyte/db/check/DatabaseMigrationCheck.java
Labels: ready-to-ship

#103 Mark more endpoints as offloaded for execution
  airbyte-server/src/main/java/io/airbyte/server/apis/AttemptApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConnectionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DestinationDefinitionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/JobsApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceDefinitionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceDefinitionSpecificationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/StateApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/WebBackendApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/WorkspaceApiController.java
Labels: area/platform, area/server

#94 🪟 🔧 Improve the preview of the ConnectorForm in storybook
  airbyte-webapp/.storybook/main.ts
  airbyte-webapp/docs/HowTo-ConnectionSpecification.md
  airbyte-webapp/docs/img.png
  airbyte-webapp/src/views/Connector/ConnectorForm/index.stories.tsx
Labels: area/frontend, ready-to-ship

#54 🪟 🔧 Enable local docs for airbyte-platform-internal
  airbyte-webapp/packages/vite-plugins/doc-middleware.ts
Labels: area/frontend, ready-to-ship

#105 Offload controller endpoint execution
  airbyte-server/src/main/java/io/airbyte/server/apis/AttemptApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConnectionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DestinationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DestinationDefinitionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DestinationDefinitionSpecificationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/HealthApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/JobsApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/NotificationsApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/OpenapiApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/OperationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceDefinitionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/StateApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/WebBackendApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/WorkspaceApiController.java
  airbyte-server/src/main/resources/application.yml
  deps.toml
Labels: area/platform, area/server

#26 Update to Micronaut 3.8.5
  deps.toml
Labels: ready-to-ship

#49 🪟🐛 Connector builder: Replace instead of navigate
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderLandingPage/ConnectorBuilderLandingPage.tsx
Labels: area/frontend, ready-to-ship

#58 🪟 🧹 Remove Sentry from Webapp
  airbyte-webapp/.env
  airbyte-webapp/package.json
  airbyte-webapp/pnpm-lock.yaml
  airbyte-webapp/src/config/config.ts
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/index.tsx
  airbyte-webapp/src/utils/sentry.ts
Labels: area/frontend, ready-to-ship

#60 🪟 🧹 Use content hash for build hash
  airbyte-webapp/package.json
  airbyte-webapp/packages/vite-plugins/build-info.ts
  airbyte-webapp/scripts/calculate-source-hash.sh
Labels: area/frontend, ready-to-ship

#69 API to complete OAuth and return secret
  airbyte-api/src/main/openapi/config.yaml
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/OAuthHandler.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/OAuthHandlerTest.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryWriter.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceOauthApiController.java
  docs/reference/api/generated-api-html/index.html
Labels: area/platform, area/server, ready-to-ship, area/api

#72 🪟 🎨 Update replication page and streams table layout
  airbyte-webapp-e2e-tests/cypress/commands/common.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection.spec.ts
  airbyte-webapp/src/components/common/MainPageWithScroll/MainPageWithScroll.module.scss
  airbyte-webapp/src/components/common/MainPageWithScroll/MainPageWithScroll.tsx
  airbyte-webapp/src/components/connection/CatalogTree/BulkHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/CatalogSection.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTree.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTree.tsx
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeBody.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeBody.tsx
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeSubheader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/PathPopoutButton.tsx
  airbyte-webapp/src/components/connection/CatalogTree/StreamHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/StreamHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableCell.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableCell.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRow.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRow.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamConnectionHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamConnectionHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/SyncModeSelect.module.scss
  airbyte-webapp/src/components/connection/ConnectionForm/ConnectionFormFields.module.scss
  airbyte-webapp/src/components/connection/ConnectionForm/ConnectionFormFields.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/EditControls.module.scss
  airbyte-webapp/src/components/connection/ConnectionForm/EditControls.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/Section.module.scss
  airbyte-webapp/src/components/connection/ConnectionForm/Section.tsx
  airbyte-webapp/src/components/connection/CreateConnectionForm/CreateConnectionForm.module.scss
  airbyte-webapp/src/components/connection/CreateConnectionForm/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/ui/LoadingBackdrop/LoadingBackdrop.module.scss
  airbyte-webapp/src/components/ui/Modal/Modal.module.scss
  airbyte-webapp/src/components/ui/Overlay/Overlay.module.scss
  airbyte-webapp/src/components/ui/PageHeader/PageHeader.module.scss
  airbyte-webapp/src/components/ui/PillSelect/PillButton.module.scss
  airbyte-webapp/src/components/ui/PillSelect/PillButton.tsx
  airbyte-webapp/src/components/ui/Tooltip/InfoTooltip.module.scss
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/AllSourcesPage.tsx
  airbyte-webapp/src/pages/connections/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/connections/ConnectionPage/ConnectionPage.tsx
  airbyte-webapp/src/pages/connections/ConnectionPage/ConnectionPageTitle.module.scss
  airbyte-webapp/src/pages/connections/ConnectionReplicationPage/ConnectionReplicationPage.module.scss
  airbyte-webapp/src/pages/connections/ConnectionReplicationPage/ConnectionReplicationPage.tsx
  airbyte-webapp/src/pages/connections/ConnectionReplicationPage/__snapshots__/ConnectionReplicationPage.test.tsx.snap
  airbyte-webapp/src/pages/connections/CreateConnectionPage/CreateConnectionPage.tsx
  airbyte-webapp/src/pages/destination/AllDestinationsPage/AllDestinationsPage.tsx
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/scss/_z-indices.scss
  airbyte-webapp/src/views/common/StoreProvider.tsx
Labels: area/frontend, ready-to-ship

#75 🪟 🚦e2e connection test improvements
  airbyte-webapp-e2e-tests/cypress/commands/connection.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection.spec.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection/autoDetectSchema.spec.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection/createConnection.spec.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection/streamTable.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/catalogDiffModalPageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/connectionFormPageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/connectionListPageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/connectionPageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/connectionReplicationPageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/connectionSettingsPageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/createConnectionPageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/streamsTablePageObject/IStreamsTablePageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/streamsTablePageObject/LegacyStreamsTablePageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/streamsTablePageObject/StreamsTableContainerPageObject.ts
  airbyte-webapp-e2e-tests/cypress/pages/connection/streamsTablePageObject/index.ts
  airbyte-webapp-e2e-tests/cypress/pages/replicationPage.ts
Labels: area/frontend, ready-to-ship

#78 🪟 🎉 New Loading Page
  airbyte-webapp/src/components/LoadingPage/LoadingPage.module.scss
  airbyte-webapp/src/components/LoadingPage/LoadingPage.tsx
  airbyte-webapp/src/components/LoadingPage/index.tsx
  airbyte-webapp/src/components/LoadingPage/logo-animation.svg
  airbyte-webapp/src/locales/en.json
Labels: area/frontend, ready-to-ship

#79 add activity to fetch feature flags
  airbyte-featureflag/src/main/kotlin/Flags.kt
  airbyte-workers/src/main/java/io/airbyte/workers/config/ActivityBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/FeatureFlagFetchActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/FeatureFlagFetchActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/FeatureFlagFetchActivityTest.java
Labels: area/platform, ready-to-ship, area/worker

#80 🪟 🎨 Use switches instead of checkboxes for column selection
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/StreamFieldsTable.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/StreamFieldsTable.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/SyncFieldCell/SyncFieldCell.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamPanelHeader/StreamPanelHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamPanelHeader/StreamPanelHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/styles.tsx
  airbyte-webapp/src/components/ui/Text/Text.tsx
  airbyte-webapp/src/components/ui/Text/text.module.scss
  airbyte-webapp/src/locales/en.json
Labels: area/frontend, ready-to-ship

#82 Add CommitStatesAsap feature flag
  airbyte-featureflag/src/main/kotlin/Flags.kt
  flags.yml
Labels: ready-to-ship

#83 Rename AttemptFailureX -> FailureX API objects for reuse in non-attempt based jobs
  airbyte-api/src/main/openapi/config.yaml
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/converters/JobConverter.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/converters/JobConverterTest.java
  airbyte-webapp/src/components/JobItem/utils.ts
Labels: area/platform, area/frontend, ready-to-ship, area/api

#84 🪟 🐛 Ensure source-defined PK and cursor fields are selected when switching sync modes
  airbyte-webapp/src/components/connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/SyncModeSelect.tsx
  airbyte-webapp/src/components/connection/CatalogTree/streamConfigHelpers/updateStreamSyncMode.test.ts
  airbyte-webapp/src/components/connection/CatalogTree/streamConfigHelpers/updateStreamSyncMode.ts
  airbyte-webapp/src/test-utils/mock-data/mockAirbyteStream.ts
Labels: area/frontend, ready-to-ship

#87 🪟 🎨 🐛 Fix long name overflow and field path names in Catalog Diff modal
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffAccordionHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffAccordionHeader.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffSection.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffSection.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/FieldRow.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/FieldRow.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/FieldSection.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/FieldSection.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/StreamRow.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/StreamRow.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/index.stories.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/utils.tsx
  airbyte-webapp/src/scss/_mixins.scss
Labels: area/frontend, ready-to-ship

#89 🪟 🎉 Link component
  airbyte-webapp/.eslintrc.js
  airbyte-webapp/src/components/EntityTable/components/ConnectionSettingsCell.tsx
  airbyte-webapp/src/components/common/Link/Link.tsx
  airbyte-webapp/src/components/common/Link/index.ts
  airbyte-webapp/src/components/common/PageViewContainer/BaseClearView.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/NormalizationField.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/ScheduleField.tsx
  airbyte-webapp/src/components/connection/ConnectionInfoCard/ConnectionInfoCard.module.scss
  airbyte-webapp/src/components/connection/ConnectionInfoCard/ConnectionInfoCard.test.tsx
  airbyte-webapp/src/components/connection/ConnectionInfoCard/ConnectionInfoCard.tsx
  airbyte-webapp/src/components/connection/CreateConnectionForm/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/components/ui/Breadcrumbs/Breadcrumbs.tsx
  airbyte-webapp/src/components/ui/DropdownMenu/DropdownMenu.tsx
  airbyte-webapp/src/components/ui/Link/ExternalLink.stories.tsx
  airbyte-webapp/src/components/ui/Link/ExternalLink.tsx
  airbyte-webapp/src/components/ui/Link/Link.module.scss
  airbyte-webapp/src/components/ui/Link/Link.stories.tsx
  airbyte-webapp/src/components/ui/Link/Link.tsx
  airbyte-webapp/src/components/ui/Link/getLinkClassNames.ts
  airbyte-webapp/src/components/ui/Link/index.ts
  airbyte-webapp/src/packages/cloud/components/experiments/SpeedyConnection/SpeedyConnectionBanner/SpeedyConnectionBanner.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmPasswordResetPage/ConfirmPasswordResetPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmPasswordResetPage/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ResetPasswordPage/ResetPasswordPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ResetPasswordPage/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.tsx
  airbyte-webapp/src/packages/cloud/views/layout/CloudMainView/CloudMainView.tsx
  airbyte-webapp/src/pages/connections/ConnectionStatusPage/ConnectionStatusPage.tsx
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/NoDbtIntegration.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/components/ShowLoadingMessage.tsx
  airbyte-webapp/src/views/layout/SideBar/AirbyteHomeLink.tsx
Labels: ready-to-ship

#90 Disable connection edit tabs during schema refresh
  airbyte-webapp/src/components/ui/StepsMenu/Step.tsx
  airbyte-webapp/src/components/ui/StepsMenu/StepsMenu.tsx
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.tsx
  airbyte-webapp/src/pages/connections/ConnectionPage/ConnectionPageTitle.tsx
Labels: area/frontend, ready-to-ship

#97 Feature flag for running check/discover on dataplane
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/RouterService.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ActivityBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ProcessFactoryBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/WorkerConfigurationBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/commons/temporal/scheduling/RouterServiceTest.java
Labels: area/platform, area/server, ready-to-ship, area/worker

#71 Fix DATABASE_PASSWORD env for airbyte-metrics helm chart
  charts/airbyte-metrics/templates/deployment.yaml
Labels: area/platform, kubernetes

#118 [Migration] [Connector Builder] Return string format to allow for connector read() that return non-object responses
  airbyte-connector-builder-server/connector_builder/generated/models/http_response.py
  airbyte-connector-builder-server/connector_builder/impl/default_api.py
  airbyte-connector-builder-server/src/main/openapi/openapi.yaml
  airbyte-connector-builder-server/unit_tests/connector_builder/impl/test_default_api.py
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/PageDisplay.tsx
Labels: area/frontend, ready-to-ship

#102 [Migration] [Connector Builder] Separate changes to incorporate Low Code Beta into Connector Builder UI
  airbyte-connector-builder-server/CDK_VERSION
  airbyte-connector-builder-server/connector_builder/generated/apis/default_api_interface.py
  airbyte-connector-builder-server/connector_builder/impl/default_api.py
  airbyte-connector-builder-server/src/main/openapi/openapi.yaml
  airbyte-connector-builder-server/unit_tests/connector_builder/impl/test_default_api.py
  airbyte-connector-builder-server/unit_tests/connector_builder/impl/test_low_code_cdk_adapter.py
  airbyte-webapp/package.json
  airbyte-webapp/pnpm-lock.yaml
  airbyte-webapp/src/components/connectorBuilder/Builder/AuthenticationSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderList.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/IncrementalSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/PaginationSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/PartitionSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/RequestOptionFields.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamSlicerSection.tsx
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/components/connectorBuilder/useManifestToBuilderForm.test.ts
  airbyte-webapp/src/components/connectorBuilder/useManifestToBuilderForm.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderLocalStorageService.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
Labels: area/frontend, ready-to-ship

#115 Add micronaut metrics bundle
  deps.toml
Labels: ready-to-ship

#27 Remove legacy server support code
  airbyte-api/build.gradle
  airbyte-commons-server/build.gradle
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/RequestLogger.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/RequestLoggerTest.java
  airbyte-commons-temporal/build.gradle
  airbyte-commons-worker/build.gradle
  airbyte-container-orchestrator/build.gradle
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/CorsFilter.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerRunnable.java
  airbyte-workers/build.gradle
  deps.toml
Labels: area/platform, area/server, ready-to-ship, area/api, area/worker

#33 🪟 🎨 🚚 Migrate PRs from the old repo: Consolidate all connection configuration form fields into a single card + Add namespace and stream name modal access as fields
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamPanelHeader/StreamPanelHeader.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/ConnectionConfigurationFormPreview.module.scss
  airbyte-webapp/src/components/connection/ConnectionForm/ConnectionConfigurationFormPreview.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/ConnectionFormFields.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/DestinationStreamPrefixName.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/FormFieldWrapper.module.scss
  airbyte-webapp/src/components/connection/ConnectionForm/FormFieldWrapper.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/NamespaceDefinitionFieldNext.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/Section.module.scss
  airbyte-webapp/src/components/connection/ConnectionForm/Section.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/__snapshots__/SchemaChangesBackdrop.test.tsx.snap
  airbyte-webapp/src/components/connection/ConnectionForm/types.ts
  airbyte-webapp/src/components/connection/CreateConnectionForm/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/ui/Text/Text.tsx
  airbyte-webapp/src/components/ui/Text/text.module.scss
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/connections/ConnectionReplicationPage/__snapshots__/ConnectionReplicationPage.test.tsx.snap
Labels: area/frontend, ready-to-ship

#44 Create builder projects table
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderTest.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/ConfigSchema.java
  airbyte-config/config-models/src/main/resources/types/ConnectorBuilderProject.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/BaseConfigDatabaseTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConnectorBuilderProjectPersistenceTest.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/ConfigsDatabaseTables.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_41_00_001__AddConnectorBuilderProjectTable.java
  airbyte-db/db-lib/src/main/resources/configs_database/schema_dump.txt
Labels: ready-to-ship

#48 🪟🐛 Prevent invalid entries for array of numbers
  airbyte-webapp/src/components/ui/TagInput/TagInput.tsx
  airbyte-webapp/src/core/form/schemaToFormBlock.ts
  airbyte-webapp/src/core/form/types.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/Control.tsx
Labels: area/frontend, ready-to-ship, ui/connectors

#56 [ISSUE #22954] adding e2e test for connector builder
  airbyte-webapp-e2e-tests/cypress/commands/connectorBuilder.ts
  airbyte-webapp-e2e-tests/cypress/integration/connectorBuilder.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/connectorBuilderPage.ts
  airbyte-webapp-e2e-tests/dummy_api.js
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/PageDisplay.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/SliceSelector.tsx
  airbyte-webapp/src/components/ui/ListBox/ListBox.tsx
Labels: area/frontend, ready-to-ship

#70 Add source timeout configuration column
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_40_32_001__AddSourceHeartbeatConfiguration.java
  airbyte-db/db-lib/src/main/resources/configs_database/schema_dump.txt
Labels: ready-to-ship

#81 🪟 🔧 Hide the react query devtool button in cypress
  airbyte-webapp-e2e-tests/cypress.json
  airbyte-webapp-e2e-tests/cypress/support/e2e.ts
  airbyte-webapp-e2e-tests/cypress/support/index.js
  airbyte-webapp/src/views/common/StoreProvider.tsx
Labels: area/frontend, ready-to-ship

#85 Extend state aggregator
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/state_aggregator/DefaultStateAggregator.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/state_aggregator/SingleStateAggregator.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/state_aggregator/StateAggregator.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/state_aggregator/StreamStateAggregator.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/state_aggregator/StateAggregatorTest.java
Labels: ready-to-ship

#91 fix(platform): use updated configuration after check during syncs
  airbyte-featureflag/src/main/kotlin/Flags.kt
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/SyncCheckConnectionResult.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/FeatureFlagFetchActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/FeatureFlagFetchActivityTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityTest.java
Labels: area/platform, ready-to-ship, area/worker

#92 Refactor Source Item Page to match Destination Item Page, don't load source twice
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SourcesPage/index.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/index.tsx
  airbyte-webapp/src/pages/connections/CreateConnectionPage/ConnectionCreateSourceForm.tsx
  airbyte-webapp/src/pages/destination/DestinationOverviewPage.tsx
  airbyte-webapp/src/pages/routePaths.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/pages/source/AllSourcesPage/AllSourcesPage.tsx
  airbyte-webapp/src/pages/source/AllSourcesPage/SourcesTable.tsx
  airbyte-webapp/src/pages/source/AllSourcesPage/index.tsx
  airbyte-webapp/src/pages/source/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/source/CreateSourcePage/SourceForm.module.scss
  airbyte-webapp/src/pages/source/CreateSourcePage/SourceForm.tsx
  airbyte-webapp/src/pages/source/CreateSourcePage/index.tsx
  airbyte-webapp/src/pages/source/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/source/SourceItemPage/index.tsx
  airbyte-webapp/src/pages/source/SourceOverviewPage/SourceConnectionTable.module.scss
  airbyte-webapp/src/pages/source/SourceOverviewPage/SourceConnectionTable.tsx
  airbyte-webapp/src/pages/source/SourceOverviewPage/SourceOverviewPage.tsx
  airbyte-webapp/src/pages/source/SourceOverviewPage/index.tsx
  airbyte-webapp/src/pages/source/SourceOverviewPage/sourceOverviewContext.ts
  airbyte-webapp/src/pages/source/SourceSettingsPage/SourceSettingsPage.module.scss
  airbyte-webapp/src/pages/source/SourceSettingsPage/SourceSettingsPage.tsx
  airbyte-webapp/src/pages/source/SourceSettingsPage/index.tsx
Labels: area/frontend, ready-to-ship

#93 Normalization: update to strict_comparison2
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/NormalizationActivityImplTest.java
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/values.yaml
Labels: area/platform, ready-to-ship, kubernetes, area/worker

#98 Strict comparison normalization: Use launchdarkly feature flag
  airbyte-featureflag/src/main/kotlin/Flags.kt
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  flags.yml
Labels: area/platform, ready-to-ship, area/worker

#99 Turn on slack notifications
  .env
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/resources/application.yml
  charts/airbyte/templates/env-configmap.yaml
  docker-compose.yaml
Labels: area/platform, ready-to-ship, kubernetes, area/worker

#107 Connector Builder UI: hide next page icon if last response page is selected
  airbyte-webapp/src/components/ui/Paginator/Paginator.module.scss
  airbyte-webapp/src/components/ui/Paginator/Paginator.tsx
Labels: area/frontend, ready-to-ship

#131 Revert "[ISSUE #22954] adding e2e test for connector builder (#56)"
  airbyte-webapp-e2e-tests/cypress/commands/connectorBuilder.ts
  airbyte-webapp-e2e-tests/cypress/integration/connectorBuilder.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/connectorBuilderPage.ts
  airbyte-webapp-e2e-tests/dummy_api.js
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/PageDisplay.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/SliceSelector.tsx
  airbyte-webapp/src/components/ui/ListBox/ListBox.tsx
Labels: area/frontend

#46 Connector builder projects: List and get APIs
  airbyte-api/src/main/openapi/config.yaml
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/ConnectorBuilderProjectsHandler.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/ConnectorBuilderProjectsHandlerTest.java
  airbyte-config/config-models/src/main/resources/types/ConnectorBuilderProject.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConnectorBuilderProjectPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConnectorBuilderProjectApiController.java
Labels: area/platform, area/server, area/api

#123 🪟 🔧 Replace husky by git core.hooksPath
  airbyte-webapp/.githooks/pre-commit
  airbyte-webapp/.husky/pre-commit
  airbyte-webapp/package.json
  airbyte-webapp/pnpm-lock.yaml
  airbyte-webapp/scripts/install-githooks.sh
Labels: area/frontend

#137 🪟 🐛 Fix docs download
  .github/workflows/gradle.yml
  .github/workflows/publish-oss-for-cloud.yml
Labels: bug, ready-to-ship

#119 🪟 🎉 List connector builder projects UI
  airbyte-webapp/src/core/domain/connectorBuilder/ConnectorBuilderProjectsRequestService.ts
  airbyte-webapp/src/core/domain/connectorBuilder/ConnectorBuilderServerRequestService.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderCreatePage/ConnectorBuilderCreatePage.module.scss
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderCreatePage/ConnectorBuilderCreatePage.tsx
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderCreatePage/airbyte-logo.svg
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderCreatePage/import-yaml.svg
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderCreatePage/index.ts
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderCreatePage/load-existing-connector.svg
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderCreatePage/start-from-scratch.svg
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderEditPage/ConnectorBuilderEditPage.tsx
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderLandingPage/index.ts
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderListPage/ConnectorBuilderListPage.module.scss
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderListPage/ConnectorBuilderListPage.tsx
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderListPage/index.ts
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderRoutes.tsx
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderApiService.ts
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderProjectsService.ts
  airbyte-webapp/src/views/layout/MainView/MainView.tsx
Labels: area/frontend

#76 🪟 🎉 Re-enable schema update notifications
  airbyte-webapp/src/pages/connections/ConnectionSettingsPage/ConnectionSettingsPage.tsx
  airbyte-webapp/src/pages/connections/ConnectionSettingsPage/SchemaUpdateNotifications.tsx
Labels: area/frontend, ready-to-ship

#146 Revert "🪟 🎉 Re-enable schema update notifications"
  airbyte-webapp/src/pages/connections/ConnectionSettingsPage/ConnectionSettingsPage.tsx
  airbyte-webapp/src/pages/connections/ConnectionSettingsPage/SchemaUpdateNotifications.tsx
Labels: area/frontend

#147 Revert "Turn on slack notifications"
  .env
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/resources/application.yml
  charts/airbyte/templates/env-configmap.yaml
  docker-compose.yaml
Labels: area/platform, kubernetes, area/worker

#150 Fix resource path for secret mask
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/LogsHandlerTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/constants/AirbyteCatalogConstants.java
Labels: ready-to-ship

#156 🪟 🚦 🔧 Upgrade airbyte-webapp-e2e to Cypress 12
  airbyte-webapp-e2e-tests/cypress.config.ts
  airbyte-webapp-e2e-tests/cypress.json
  airbyte-webapp-e2e-tests/cypress/e2e/base.cy.ts
  airbyte-webapp-e2e-tests/cypress/e2e/connection.cy.ts
  airbyte-webapp-e2e-tests/cypress/e2e/connection/autoDetectSchema.cy.ts
  airbyte-webapp-e2e-tests/cypress/e2e/connection/createConnection.cy.ts
  airbyte-webapp-e2e-tests/cypress/e2e/connectorBuilder.cy.ts
  airbyte-webapp-e2e-tests/cypress/e2e/destination.cy.ts
  airbyte-webapp-e2e-tests/cypress/e2e/onboarding.cy.ts
  airbyte-webapp-e2e-tests/cypress/e2e/source.cy.ts
  airbyte-webapp-e2e-tests/cypress/plugins/index.ts
  airbyte-webapp-e2e-tests/package-lock.json
  airbyte-webapp-e2e-tests/package.json
Labels: area/frontend
